<div>
  <div class="navbar navbar-default">
    <div>
      <div class="nav navbar-header">
        <a class="nav navbar-brand">{{pagetitle}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="navItem"><a [routerLink]="['/welcome']">Home</a></li>
        <li class="navItem"><a [routerLink]="['/products']">Products</a></li>
        <li class="navItem"><a [routerLink]="['/editProduct', 0]">add product</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
