<div class="panel panel-violet">
  <div class="panel-heading">
    {{pagetitle}}
  </div>
  <div class="panel-body">
    <div  *ngIf="!errorMessage">
      <div class="row">
        <div class="col-md-2">Filter by:  </div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]='listFilter'>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          Filter by: {{listFilter}}
        </div>
      </div>
      <div class="table-responsive">
        <table class="table" *ngIf="filteredProducts && filteredProducts.length">
          <thead>
            <tr>
              <th>
                <button class="btn btn-violet" (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Images</button>
              </th>
              <th>Product</th>
              <th>Code</th>
              <th>Available</th>
              <th>Price</th>
              <th>5 Star Rating</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProducts">
              <td>
                <img *ngIf="showImage"
                [src]='product.imageUrl'
                [title]='product.productName | uppercase'
                [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
              </td>
              <td><a [routerLink]="['/products', product.productId]">{{product.productName}}</a></td>
              <td>{{product.productCode | lowercase | ConvertToSpaces:'-' }}</td>
              <td>{{product.releaseDate}}</td>
              <td>{{product.price | currency:'EUR':true:'1.2-2' | lowercase}}</td>
              <td><app-star [rating]='product.starRating'
              (ratingClicked)='onRatingClicked($event)'></app-star>
              </td>
              <td>
                <a class="btn btn-violet" [routerLink]="['/editProduct', product.productId]">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="filteredProducts && filteredProducts.length < 1">
          <br>No Products to display!
        </div>
      </div>
    </div>
    <div class='has-error' *ngIf="errorMessage">{{errorMessage}}</div>
  </div>
</div>
